body {
  font-family: "Roboto", san-serif;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxP.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc9.ttf) format("truetype");
}
.container {
  max-width: 1200px;
  margin: 0px auto;
}
.bcolor {
  background-color: blue;
}
.rcolor {
  background-color: red;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header * {
  margin: 10px 0px;
}

.logo {
  width: 45px;
  height: 45px;
}
.search {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
}
.input-search {
  flex: 0.8;
  background-image: url("search.svg");
  background-size: 18px;
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 32px;
  margin-right: 10px;
}
.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d9d9d9;
  color: #595959;
  background-color: #ffffff;
  height: 42px;
}
.button-primary {
  border: 1px solid #1890ff;
  background: #1890ff;
  color: #ffffff;
  margin-right: 6px;
}

/* Menu */
.menu {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  color: #595959;
}

.menu a:hover {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}

.underline {
  margin-top: 0px;
  margin-bottom: 20px;
}

/* Filter */
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  background: rgba(0, 166, 255, 0.3);
}
.filter-params {
  display: flex;
}
.filter-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2px 5px;
}
.filter .btn {
  width: 50%;
  background: rgba(0, 166, 255, 1);
  margin: 10px;
}

/* Catalog */
.cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  flex-basis: 31%;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  margin-bottom: 30px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
}
.card-img {
  width: 25%;
  object-fit: cover;
}
.card-info {
  padding: 10px 20px;
  width: 45%;
}
.card-specs {
  display: flex;
  justify-content: left;
}
.card-specs-column {
  margin-right: 20px;
}

/* Car Page */
.car-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.car-img {
  width: 50%;
}
.car-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-list {
  position: relative;
  height: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px 0px;
}

.car-list li {
  margin: 8px 0px;
}

/* Admin Page */
.spec-input {
  display: block;
  margin-bottom: 20px;
}
.menu-admin {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.car-list span {
  margin-right: 10px;
}

/*User Panel*/
.ap-catalog-img {
  width: 100px;
}
.account-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Login*/
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-form * {
  margin-bottom: 10px;
}